.contact-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.contact-card {
    background-color: #e0ffff;
    padding: 30px;
    border-radius: 15px;
    max-width: 500px;
    text-align: center;
}