body {
  font-family: sans-serif;
  background: whitesmoke;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
  background-color:burlywood;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px grey;
}

.card {
  text-align: center;;
}

.card img {
  border-radius: 50%;
  width: 100px;
}

.skills ul {
  list-style-type: circle;
  padding-left: 20px;
}
